name: CI
on: [push, workflow_dispatch]
permissions:
  contents: write
jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Download Ngrok
      run: Invoke-WebRequest https://bin.equinox.io/c/bNyj1mQVY4c/ngrok-v3-stable-windows-amd64.zip -OutFile ngrok.zip
    - name: Extract Ngrok
      run: Expand-Archive ngrok.zip
    - name: Config
      run: |
        $configContent = @"
        version: 2
        authtoken: 2n6cQNlCN9DFXidGaOTSHlK972f_531rdU5xJZxDGgPJVQ5qS
        region: ap
        tunnels:
          rdp:
            proto: tcp
            addr: 3389
        "@
        Set-Content -Path "ngrok.yml" -Value $configContent
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server'-name "fDenyTSConnections" -Value 0
        Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
        Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -name "UserAuthentication" -Value 1
        Set-LocalUser -Name "runneradmin" -Password (ConvertTo-SecureString -AsPlainText "Loc12345s@" -Force)
    - name: Start
      run: |
        taskkill /f /im ngrok.exe 2> $null
        Start-Process -FilePath ".\ngrok\ngrok.exe" -ArgumentList "start --all --config .\ngrok.yml"
        Start-Sleep -Seconds 10
        try {
            $response = Invoke-RestMethod http://localhost:4040/api/tunnels
            $tunnel = $response.tunnels | Where-Object { $_.proto -eq 'tcp' } | Select-Object -First 1
            if ($tunnel) {
                $url = $tunnel.public_url -replace "tcp://", ""
                $url | Out-File -FilePath ip.txt -Encoding utf8
                git config --global user.email "bot@loc"
                git config --global user.name "Bot"
                git add ip.txt
                git commit -m "IP: $url"
                git push
            }
        } catch {}
        Start-Sleep -Seconds 21600
